
body {
  background-color:#FAFAFA;
}

nav  {
  background-color: #FE1F4E;

}

a.top-links.nav-item.nav-link.active {
  padding: 10px 20px;
  color: #FAFAFA;
}

a.top-links.nav-item.nav-link {
  padding: 10px 20px;
  color: #FAFAFA;

}

.jumbotron-lone-wolf {
  background-image: url("../images/lone-wolf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.jumbotron-index {
  background-image: url("../images/brand-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

}

h1.hero-header {
  color: #FAFAFA;
}

h2.index-h2 {
  color: #FAFAFA;
}

.arrow {
transform: rotate(90deg);
position: relative;
text-align: center;
margin: 0 auto;
display: block;



}
.header-arrow {
  font-size: 100px;
  position: relative;
  margin: 0 auto;
}

.header-arrow:hover {
  text-decoration: none;
  color: #FE1F4E;
  text-align: center;
}

.container-fluid {
  width: 70%;
}

button {
  background-color: #330;
  padding: 20px;
  width: 150px;
  margin: 10px;
  color: #FAFAFA;
  border: none;
  box-shadow: none;
}

button:focus {
  background-color: #FE1F4E;
  border: none;
  box-shadow: none;
}

main {
  padding: 20px;
  text-align: center;


}

.plan-cards {
  margin: 50px auto;

}



#plans {
  width: 90%;
  margin: 0 auto;
}

.card-img-top {
  background-image: url("images/family1.jpg");
}


p {
  font-size: 28px;

}

ul li {
  list-style: none;
  font-size: 28px;
}

.features {
  padding: 20px;
}

h1 {
  padding-top: 100px;
  font-size: 78px;
}

h3 {

padding: 20px;

}

h4 {
  padding: 20px;
}

.nav-bottom {
  background-color: #FE1F4E;
}

a.bottom-links.nav-item.nav-link.active {
  padding: 10px 20px;
  color: #FAFAFA;
}

a.bottom-links.nav-item.nav-link {
  padding: 10px 20px;
  color: #FAFAFA;
}

#contact-bar ul li {
  display: inline;
  padding: 20px;
  font-size: 20px;
}

#contact-bar ul {
  padding-top: 50px;
  text-align: center;
}

#call-us {
  float: right;
  text-align: right;
}

footer {
  background: #333;
  color: white;
}

.legal ul li {
  display: inline;
  padding: 20px;
  font-size: 20px;

}


/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.5;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
    /*Insta*/

.fa-instagram {
    background: #125688;
    color: white;

}





    {
    box-sizing: border-box;
  }

  /* Button used to open the chat form - fixed at the bottom of the page */
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  /* The popup chat - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }

  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
